@using System.Linq.Expressions

<div class="form-group">
    <label for="@Id">@Label</label>
    <InputDate Value="@Value"
               ValueChanged="@ValueChanged"
               ValueExpression="@ValueExpression"
               id="@Id" class="form-control"></InputDate>
    
</div>

@code {
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Id { get; set; }


    [Parameter]
    public DateTime Value { get; set; } = default!;

    [Parameter]
    public EventCallback<DateTime> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<DateTime>>? ValueExpression { get; set; }


}
